# packages
packages/**/*.json
packages/**/*.md

# stories
stories/**/*.json
stories/**/*.d.ts
stories/**/*.js
stories/**/*.md
stories/**/*.svg
stories/**/*.css
stories/**/*.mdx

public
dist
lib
node_modules
assets