.DS_Store
node_modules
/bundle
dist
lib

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# built js by typescript
*.map

#yarn
yarn.lock

#package
package.lock.json

#storybook
storybook-static
